body {
    background: #fee;
    margin: 0;
    padding: 0;
    width: 90%;
    overflow: hidden;
    font-family: "Lato";
}


/* Audio Player */

.audio-player {
    z-index: 1;
    position: relative;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

.audio-player button.play {
    display: block;
    width: 200px;
    height: 55px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;
}

.audio-player .seek-bar {
    display: none;
}

.audio-player .seek-bar .fill {
    display: none;
}

.audio-player .seek-bar .handle {
    display: none;
}


/* Background transitioning */

#header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#header h1 {
    color: #fff;
    margin-left: 10%;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 100s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url("./img/img1.jpg");
}

.slideshow li:nth-child(2) {
    background-image: url("./img/img2.jpg");
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url("./img/img3.jpg");
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url("./img/img4.jpg");
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url("./img/img5.jpg");
    animation-delay: 40s;
}

.slideshow li:nth-child(6) {
    background-image: url("./img/img6.jpg");
    animation-delay: 50s;
}

.slideshow li:nth-child(7) {
    background-image: url("./img/img7.jpg");
    animation-delay: 60s;
}

.slideshow li:nth-child(8) {
    background-image: url("./img/img8.jpg");
    animation-delay: 70s;
}

.slideshow li:nth-child(9) {
    background-image: url("./img/img9.jpg");
    animation-delay: 80s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1
    }
    30% {
        opacity: 0
    }
}


/* Older browser support - .no-cssanimations class added by modernizr */

.no-cssanimations .slideshow li {
    opacity: 1;
}


/* Navbar collapse */

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.navbar-brand {
    font-size: 20px;
}
